<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vida Saudavel e CIA </title>
    <link rel="icon" href="/public/img/Logo---Vida-Saudável-e-CIA.png">
    <link rel="stylesheet" href="/public/css/feedb.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FeedBack</title>
</head>
<body>
    <section >
        <header>
            <a href="/"><img src="/public/img/Logo---Vida-Saudável-e-CIA.png" class="logo"></a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/planos">Planos</a></li>
                <li><a href="/deixefeed"class="active">FeedBack</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/auth/logout" class="act">Sair</a></li>
                

            </ul>
        </header>
    <main>
        
    
    
<div class="btt">
    <h1>Deixe seu Feedback</h1><br>
    <form action="/add" method="POST">
    <label>Titulo</label><br>
    <input type="text" name="titulo" required><br><br>
    <label for="">Nota </label><br>
    <input type="number" name="nota" min="0" max="10" required><br><br>
    <label>Conteudo</label><br>
    <textarea name="conteudo" required></textarea><br>
    <button type="submit">Enviar</button>
     </form>
</div>
   

    {{#each Postreview}}
    <div class="feeds">

        <p><h3>{{titulo}}, Nota: {{nota}}</h3></p>
        <br>
        <p>{{conteudo}}</p>
        <br>
        <small>{{createdAt}}</small>
        <a href="/delete/{{_id}}"><button id="btn">Apagar post</button></a><STYLE>A {text-decoration: none;} </STYLE>
    </div>
        {{/each}}
        <br>
        <br>

        <br>

    </main>
    
    
    </section>
        <footer>Projeto feito pelos alunos do 2° Semestre de ADS da Fecap - Vida Saudável & CIA 
           <div class="logos">
           <a href="https://wa.me/5511966572565?text=Ol%C3%A1!%20Gostaria%20de%20realizar%20um%20or%C3%A7amento!%20"  target="_blank"> <img src="/public/img/whats.png" alt="lwhats">   </a>
           <a href="https://instagram.com/vidasaudavel.ecia?igshid=YmMyMTA2M2Y="  target="_blank"> <img src="/public/img/instagram.png" alt="linsta"> </a>
            
            </div>
            </footer>
    <script src="/public/js/script.js"></script>
</body>
</html>
